body
{background-color: rgb(219, 178, 178);
color: rgb(148, 14, 81);
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

/*Asi se pone un comment*/

h1, p {color: rgb(86, 10, 52);}

h3 {color: rgb(133, 42, 65);}

/*Darle diferentes estilos a las imagenes*/
.img1 
{width: 300px; height: 200px;
border-style: double;
border-width: 10px;
border-color: rgb(169, 147, 119);
margin-left: 50px;}

.img2 
{width: 200px; height: 200px;
border-style: dotted;
border-color: rgb(161, 138, 110);
margin-left: 50px;
padding: 7px;}

footer
{background-color: rgb(208, 157, 139);}

small 
{color:aliceblue;}
